<.header>
  Edit Game <%= @game.id %>
  <:subtitle>Use this form to manage game records in your database.</:subtitle>
</.header>

<%# inserts game_form.html.heex %>
<.game_form changeset={@changeset} action={~p"/games/#{@game}"} />

<.back navigate={~p"/games"}>Back to games</.back>
