<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input label="title" field={f[:title]} />
  <.input label="makers" field={f[:makers]} />

  <:actions>
    <.button>Save Game</.button>
  </:actions>
</.simple_form>
