<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input label="title" field={f[:title]} />
  <%# TODO: should be able to add as many things to the list %>

  <:actions>
    <.button>Save List</.button>
  </:actions>
</.simple_form>
