<.header>
  New List
  <:subtitle>Use this form to manage list records in your database.</:subtitle>
</.header>

<.list_form changeset={@changeset} action={~p"/lists"} />

<.back navigate={~p"/lists"}>Back to lists</.back>
