<.header>
  List <%= @list.id %>
  <:subtitle>This is a list record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/lists/#{@list}/edit"}>
      <.button>Edit list</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="id"><%= @game.id %></:item>
  <:item title="title"><%= @game.title %></:item>
  <%# TODO: list array/has_many %>
</.list>

<.back navigate={~p"/lists"}>Back to lists</.back>
